In [58]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [59]:
file_path = "heart_attack_prediction_dataset.csv"
df = pd.read_csv(file_path)

In [60]:
def calculate_accuracy(df, column):
    return None

def calculate_validity(df, column):
    return None

def calculate_correntness(df, column):
    return None

def calculate_consistency(df, column):
    return 100

In [61]:
# First, we'll create a incomplete dataframe with some default value
quality_df = pd.DataFrame(columns=['Feature', 'Number of Records', 'Number of Null Values', 'Completeness (%)', 'Accuracy (%)', 'Validity (%)', 'Correntness (%)', 'Consistency (%)'])

for column in df.columns:
    num_null_values = df[column].isnull().sum()
    completeness = 100 - (num_null_values / len(df)) * 100

    accuracy = calculate_accuracy(df, column)
    validity = calculate_validity(df, column)
    correntness = calculate_correntness(df, column)
    consistency = calculate_consistency(df, column)

    prepare_df = {
            'Feature': [column],
            'Number of Records': [df.shape[0]],
            'Number of Null Values': [num_null_values],
            'Completeness (%)': [(df.shape[0] - num_null_values) / df.shape[0] * 100],
            'Accuracy (%)': [accuracy],
            'Validity (%)': [validity],
            'Correntness (%)': [correntness],
            'Consistency (%)': [consistency]
        }

    quality_df = pd.concat([quality_df, pd.DataFrame(prepare_df)], ignore_index=True)

quality_df

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
0,Patient ID,8763,0,100.0,None,None,None,100
1,Age,8763,0,100.0,None,None,None,100
2,Sex,8763,0,100.0,None,None,None,100
3,Cholesterol,8763,0,100.0,None,None,None,100
4,Blood Pressure,8763,0,100.0,None,None,None,100
5,Heart Rate,8763,0,100.0,None,None,None,100
6,Diabetes,8763,0,100.0,None,None,None,100
7,Family History,8763,0,100.0,None,None,None,100
8,Smoking,8763,0,100.0,None,None,None,100
9,Obesity,8763,0,100.0,None,None,None,100
10,Alcohol Consumption,8763,0,100.0,None,None,None,100
11,Exercise Hours Per Week,8763,0,100.0,None,None,None,100
12,Diet,8763,0,100.0,None,None,None,100
13,Previous Heart Problems,8763,0,100.0,None,None,None,100
14,Medication Use,8763,0,100.0,None,None,None,100
15,Stress Level,8763,0,100.0,None,None,None,100
16,Sedentary Hours Per Day,8763,0,100.0,None,None,None,100
17,Income,8763,0,100.0,None,None,None,100
18,BMI,8763,0,100.0,None,None,None,100
19,Triglycerides,8763,0,100.0,None,None,None,100
20,Physical Activity Days Per Week,8763,0,100.0,None,None,None,100
21,Sleep Hours Per Day,8763,0,100.0,None,None,None,100
22,Country,8763,0,100.0,None,None,None,100
23,Continent,8763,0,100.0,None,None,None,100
24,Hemisphere,8763,0,100.0,None,None,None,100
25,Heart Attack Risk,8763,0,100.0,None,None,None,100

In [62]:
# now we change the table with specific operations for some of features:
total_rows = df.shape[0]

In [63]:
# Paitient ID Feature
feature_name = 'Patient ID'
duplicate_id =  df[feature_name].duplicated().sum()
quality_df.loc[quality_df['Feature'] == feature_name, 'Consistency (%)'] = (total_rows - duplicate_id) / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
0,Patient ID,8763,0,100.0,None,None,None,100.0

In [64]:
# Age Feature
feature_name = 'Age'
neg_age = df.loc[df[feature_name] < 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = (total_rows - neg_age) / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
1,Age,8763,0,100.0,None,100.0,None,100

In [65]:
# Sex Feature
feature_name = 'Sex'
sex_valid = df.loc[(df[feature_name] == 'Male') | (df[feature_name] == 'Female')].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sex_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
2,Sex,8763,0,100.0,None,100.0,None,100

In [66]:
# Cholesterol Feature
feature_name = 'Cholesterol'
neg_cholesterol = df.loc[df[feature_name] < 0].shape[0]
neg_cholesterol_valid = df.loc[(df[feature_name] >= 0) & (df[feature_name] <= 2000)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sex_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
3,Cholesterol,8763,0,100.0,None,100.0,None,100

In [67]:
# Blood Pressure Feature
feature_name = 'Blood Pressure'
# neg_blood_pressure = df.loc[df[feature_name] < 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
4,Blood Pressure,8763,0,100.0,None,None,None,100

In [68]:
# Heart Rate Feature
feature_name = 'Heart Rate'
neg_heart_rate = df.loc[df[feature_name] < 0].shape[0]
neg_cholesterol_valid = df.loc[(df[feature_name] >= 0) & (df[feature_name] <= 200)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sex_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
5,Heart Rate,8763,0,100.0,None,100.0,None,100

In [69]:
# Diabetes Feature
feature_name = 'Diabetes'
diabetes_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = diabetes_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
6,Diabetes,8763,0,100.0,None,100.0,None,100

In [70]:
# Family History Feature
feature_name = 'Family History'
family_history_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = family_history_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
7,Family History,8763,0,100.0,None,100.0,None,100

In [71]:
# Smoking Feature
feature_name = 'Smoking'
smoking_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = family_history_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
8,Smoking,8763,0,100.0,None,100.0,None,100

In [72]:
# Obesity Feature
feature_name = 'Smoking'
obesity_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = obesity_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
8,Smoking,8763,0,100.0,None,100.0,None,100

In [73]:
# Alcohol Consumption Feature
feature_name = 'Alcohol Consumption'
alcohol_consumption_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = alcohol_consumption_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
10,Alcohol Consumption,8763,0,100.0,None,100.0,None,100

In [74]:
# Exercise Hours Per Week Feature
feature_name = 'Exercise Hours Per Week'
exercise_hours_per_week_valid = df.loc[df[feature_name] >= 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = exercise_hours_per_week_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
11,Exercise Hours Per Week,8763,0,100.0,None,100.0,None,100

In [75]:
# Diet Feature
feature_name = 'Diet'
diet_valid = df.loc[(df[feature_name] == 'Healthy') | (df[feature_name] == 'Average') | (df[feature_name] == 'Unhealthy')].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = exercise_hours_per_week_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
12,Diet,8763,0,100.0,None,100.0,None,100

In [76]:
# Exercise Hours Per Week Feature
feature_name = 'Previous Heart Problems'
previous_heart_problems_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = previous_heart_problems_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
13,Previous Heart Problems,8763,0,100.0,None,100.0,None,100

In [77]:
# Medication Use Feature
feature_name = 'Medication Use'
medication_use_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = medication_use_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
14,Medication Use,8763,0,100.0,None,100.0,None,100

In [78]:
# Stress Level Feature
feature_name = 'Stress Level'
stress_level_valid = df.loc[(df[feature_name] >= 1) | (df[feature_name] <= 10)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = stress_level_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
15,Stress Level,8763,0,100.0,None,100.0,None,100

In [79]:
# Sedentary Hours Per Day Feature
feature_name = 'Sedentary Hours Per Day'
sedentary_hours_per_day_valid = df.loc[df[feature_name] >= 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sedentary_hours_per_day_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
16,Sedentary Hours Per Day,8763,0,100.0,None,100.0,None,100

In [80]:
# Income Feature
feature_name = 'Income'
income_valid = df.loc[df[feature_name] >= 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = income_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
17,Income,8763,0,100.0,None,100.0,None,100

In [81]:
# BMI Feature
feature_name = 'BMI'
BMI_valid = df.loc[df[feature_name] >= 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = BMI_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
18,BMI,8763,0,100.0,None,100.0,None,100

In [82]:
# Triglycerides Feature
feature_name = 'Triglycerides'
triglycerides_valid = df.loc[df[feature_name] >= 0].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = triglycerides_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
19,Triglycerides,8763,0,100.0,None,100.0,None,100

In [83]:
# Physical Activity Days Per Week Feature
feature_name = 'Physical Activity Days Per Week'
days_valid = df.loc[(df[feature_name] >= 0) | (df[feature_name] <= 7)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = days_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
20,Physical Activity Days Per Week,8763,0,100.0,None,100.0,None,100

In [84]:
# Sleep Hours Per Day Feature
feature_name = 'Sleep Hours Per Day'
sleep_valid = df.loc[(df[feature_name] >= 0) | (df[feature_name] <= 24)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sleep_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
21,Sleep Hours Per Day,8763,0,100.0,None,100.0,None,100

In [93]:
# Country Feature
feature_name = 'Country'
quality_df.loc[quality_df['Feature'] == feature_name]
quality_df.loc[quality_df['Feature'] == feature_name, 'Consistency (%)'] = (df['Country'].unique().shape[0] - differing_countries.shape[0]) / df['Country'].unique().shape[0] * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
22,Country,8763,0,100.0,None,None,None,90.0

In [86]:
# Continent Feature
feature_name = 'Continent'
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
23,Continent,8763,0,100.0,None,None,None,100

In [87]:
countries_hemisphere = pd.read_csv('GEODATASOURCE-NORTHERN-SOUTHERN-HEMISPHERE-COUNTRIES.csv')
country_codes = pd.read_csv('all.csv')
hemisphere_country = pd.merge(countries_hemisphere, country_codes, on='country_code', how='inner')
hemisphere_country = hemisphere_country[['Hemisphere', 'Country']]
hemisphere_country

              Hemisphere               Country
0    Northern Hemisphere               Andorra
1    Northern Hemisphere  United Arab Emirates
2    Northern Hemisphere           Afghanistan
3    Northern Hemisphere   Antigua and Barbuda
4    Northern Hemisphere              Anguilla
..                   ...                   ...
244  Northern Hemisphere                 Yemen
245  Southern Hemisphere               Mayotte
246  Southern Hemisphere          South Africa
247  Southern Hemisphere                Zambia
248  Southern Hemisphere              Zimbabwe

[249 rows x 2 columns]

In [88]:
merged_df = pd.merge(hemisphere_country, df[['Hemisphere', 'Country']], on='Country', how='inner', suffixes=('_validation', '_reference'))
merged_df = merged_df.drop_duplicates(subset='Country', keep='first')
merged_df

     Hemisphere_validation       Country Hemisphere_reference
0      Southern Hemisphere     Argentina  Southern Hemisphere
471    Southern Hemisphere     Australia  Southern Hemisphere
920    Southern Hemisphere        Brazil  Southern Hemisphere
1382   Northern Hemisphere        Canada  Northern Hemisphere
1822   Northern Hemisphere         China  Northern Hemisphere
2258   Northern Hemisphere      Colombia  Northern Hemisphere
2687   Northern Hemisphere       Germany  Northern Hemisphere
3164   Northern Hemisphere         Spain  Southern Hemisphere
3594   Northern Hemisphere        France  Northern Hemisphere
4040   Northern Hemisphere         India  Northern Hemisphere
4452   Northern Hemisphere         Italy  Southern Hemisphere
4883   Northern Hemisphere         Japan  Northern Hemisphere
5316   Northern Hemisphere       Nigeria  Northern Hemisphere
5764   Southern Hemisphere   New Zealand  Southern Hemisphere
6199   Northern Hemisphere      Thailand  Northern Hemisphere
6627   Southern Hemisphere  South Africa  Southern Hemisphere

In [89]:
are_equal_hemispheres = merged_df['Hemisphere_validation'] == merged_df['Hemisphere_reference']

if are_equal_hemispheres.all():
    print("Hemisphere values are the same for all countries.")
else:
    print("Hemisphere values are different for some countries.")

differing_countries = merged_df.loc[~are_equal_hemispheres, ['Country', 'Hemisphere_validation', 'Hemisphere_reference']]
print("Details of countries with differing hemispheres:")
differing_countries

Hemisphere values are different for some countries.
Details of countries with differing hemispheres:

     Country Hemisphere_validation Hemisphere_reference
3164   Spain   Northern Hemisphere  Southern Hemisphere
4452   Italy   Northern Hemisphere  Southern Hemisphere

In [90]:
# Hemisphere Feature
feature_name = 'Hemisphere'
hemisphere_valid = df.loc[(df[feature_name] == 'Southern Hemisphere') | (df[feature_name] == 'Northern Hemisphere')].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = sex_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name, 'Consistency (%)'] = (df['Country'].unique().shape[0] - differing_countries.shape[0]) / df['Country'].unique().shape[0] * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
24,Hemisphere,8763,0,100.0,None,100.0,None,90.0

In [91]:
# Heart Attack Risk Feature
feature_name = 'Heart Attack Risk'
risk_valid = df.loc[(df[feature_name] == 0) | (df[feature_name] == 1)].shape[0]
quality_df.loc[quality_df['Feature'] == feature_name, 'Validity (%)'] = risk_valid / total_rows * 100
quality_df.loc[quality_df['Feature'] == feature_name]

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
25,Heart Attack Risk,8763,0,100.0,None,100.0,None,100

# Final Table Results

In [94]:
quality_df

,Feature,Number of Records,Number of Null Values,Completeness (%),Accuracy (%),Validity (%),Correntness (%),Consistency (%)
0,Patient ID,8763,0,100.0,None,None,None,100.0
1,Age,8763,0,100.0,None,100.0,None,100
2,Sex,8763,0,100.0,None,100.0,None,100
3,Cholesterol,8763,0,100.0,None,100.0,None,100
4,Blood Pressure,8763,0,100.0,None,None,None,100
5,Heart Rate,8763,0,100.0,None,100.0,None,100
6,Diabetes,8763,0,100.0,None,100.0,None,100
7,Family History,8763,0,100.0,None,100.0,None,100
8,Smoking,8763,0,100.0,None,100.0,None,100
9,Obesity,8763,0,100.0,None,None,None,100
10,Alcohol Consumption,8763,0,100.0,None,100.0,None,100
11,Exercise Hours Per Week,8763,0,100.0,None,100.0,None,100
12,Diet,8763,0,100.0,None,100.0,None,100
13,Previous Heart Problems,8763,0,100.0,None,100.0,None,100
14,Medication Use,8763,0,100.0,None,100.0,None,100
15,Stress Level,8763,0,100.0,None,100.0,None,100
16,Sedentary Hours Per Day,8763,0,100.0,None,100.0,None,100
17,Income,8763,0,100.0,None,100.0,None,100
18,BMI,8763,0,100.0,None,100.0,None,100
19,Triglycerides,8763,0,100.0,None,100.0,None,100
20,Physical Activity Days Per Week,8763,0,100.0,None,100.0,None,100
21,Sleep Hours Per Day,8763,0,100.0,None,100.0,None,100
22,Country,8763,0,100.0,None,None,None,90.0
23,Continent,8763,0,100.0,None,None,None,100
24,Hemisphere,8763,0,100.0,None,100.0,None,90.0
25,Heart Attack Risk,8763,0,100.0,None,100.0,None,100

* # Single Source Schema Level
Single Source Schema-level problems are related to the structure of the data, such as missing or incorrect attribute values, and can be addressed by schema transformations 1.

For example, a single-source schema-level problem could be a violated integrity constraint. This occurs when a data value violates a rule that has been defined for the data, such as a data type or a range of values 1.

in a dataset we could have below conflicts at Single Source Schema Level:

* Violated attribute dependencies
* Uniqueness violation
* Referential integrity violations
* Illegal values

In our provided dataset we have these problems:
* 
* 
*

* # Single Source Instant Level
single-source instance-level problems are related to the content of the data, such as missing or incorrect data values, and can be addressed by instance transformations 

in a dataset we could have below conflicts at Single Source Instant Level:
* Missing values
* Misspellings
* Cryptic values, 
Abbreviation
* Embedded values
* Misfielded values
* Violated attribute 
dependencie
* Word 
transposition
* Duplicated records
* Contradicting 
record
* Wrong references

In our provided dataset we have these problems:
* Spain and Italy are considered as Southern Hemisphere countries which is incorrect.
* 
*

* # Multi Source Schema Level
Multi Source Schema-level problems are related to the structure of the data, such as naming conflicts or structural conflicts, and can be addressed by schema transformations 1.

For example, a multi-source schema-level problem could be inconsistent aggregating. This occurs when data from different sources is aggregated in an inconsistent manne

in a dataset we could have below conflicts at Multi Source Schema Level:
* name conflicts (synonyms Customer/Client, Cid/Cno, Sex/Gender) 
* structural 
conflicts (different representations for names and addresses).

In our provided dataset we have these problems:
* 
* 
*

* # Multi Source Instant Level
  multi-source instance-level problems are related to the content of the data, when you join two source together and some conflicts happens. for example the birth date field in LHS dataset is higher than accepting in university!

in a dataset we could have below conflicts at Multi Source Instant Level:
* different gender representations (0/1 vs. F/M) and presumably a duplicate record (i.g. Kristen Smith).
* The latter observation also reveals that while Cid/Cno (for example) are both source-specific identifiers.
* their contents are not comparable between the sources; different numbers (i.g. 11/493) may refer to the same person while different persons can have the same number (24)

In our provided dataset we have these problems:
* 
* 
*

## To imporve our data quality we can do following instructions:

* ### Data Cleaning
    * ##### Handle Missing Values:
      As we don't have any missing value, this step can be skipped. However eliminating missing values is an important stage.
    * ##### Outlier Detection and Handling:
      We found some Outilers in Smoking Field. But Actually they weren't real outliers! In our provided dataset we had lots of people who use cigarret, but these doesn't mean that "Those who don't smoke, are outliers". By the way, removing outlier data is sometimes necessary and should be considered.

* ### Data Transformation
    * ##### Normalization/Standardization:
      We have some numeric fields like income and BMI. Since they may take a huge amount of space, we can normalize them. It is suggested to make them in range of (1, 10).
    * ##### Encoding Categorical Variables:
      Some fields like Diet are categorical. We can transform them into numbers and have a better presentation. If we don't do this, we could ran into some problems like comparing to other fields and etc.
* ### Feature Engineering:
    * ##### Create Relevant Features:
      These step, also known as feature generation, could be useful when we want to reduce our data space.

* ### Data Exploration:
    * ##### Visualizations:
      Use visualizations to understand the distribution of your data, identify patterns, and detect anomalies. Visualization tools can help you explore relationships between variables and spot potential issues.

* ### Cross-Validation:
    As we did in these phase, we can compare some values of our dataset to a validation dataset and find conflicts.

* ### Quality Documentation:
    Keeping a documentation of our dataset. We can record the data collection process, any transformations or preprocessing steps, and any decisions made regarding missing values or outliers. This documentation is essential for reproducibility and understanding the dataset's differences.